.ReactTable .rt-tr .action {
    transition: all .2s ease;
    text-align: center;
    color: red;
    transform: scale(0);
}

.ReactTable .rt-tr:hover .action {
    transform: scale(1.3);
}

.ReactTable .rt-tr:hover .rt-td {
    background: lightsteelblue;
}


.ReactTable {
    border: 2px solid rgba(0,0,0,0.6) !important;
    width: 750px;
}

.ReactTable .rt-td {
    border-right: 1px solid rgba(0,0,0,0.6) !important;
    border-bottom: 1px solid rgba(0,0,0,0.6) !important;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.ReactTable .rt-thead .rt-th{
    border-right: 1px solid rgba(0,0,0,0.6) !important;
}

.button-col {
    text-align: center;
}   

.delete{
    background-color: salmon;
}

.long-text{
    white-space: unset;
}

.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BootstrapTable{
    background: black !important;
}